
data/
*.csv
*.tsv

*.log


__pycache__/
*.py[cod]
*.pyo
*.pyd

.env/
.venv/
venv/
ENV/
env/


.vscode/
.idea/
*.iml


.ipynb_checkpoints/


.coverage
*.coverage.*
*.pytest_cache/
htmlcov/


.streamlit/

.DS_Store
Thumbs.db


*.bak
*.swp
*.tmp


Pipfile
Pipfile.lock
poetry.lock
